@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --clr-primary: hsl(257, 40%, 49%);
    --clr-secondary: hsl(300, 69%, 71%);
    --clr-white: hsl(0, 0%, 100%);
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: var(--clr-primary);
}
